h1 {
    margin-top: 107px;
}

.main_box {
    margin: 0;
    padding: 0;
    background: dimgrey;
}

.mini_box {
    margin-left: 450px;
    width: 1000px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: darkgrey;
}

.cards {
    width: 250px;
    height: 250px;
    margin: 20px;
    text-align: center;
    background-color: grey;
    color: whitesmoke;
}